.mat-elevation-z8{
    width: 100%;
    margin: 0 auto;
    background-color: cyan;
}

mat-paginator  {
    color: black !important;
    max-width: 100%;
    background-color:rosybrown;
}

.forms{
    display: flex;
    justify-content: space-between;
    background : rgb(212, 225, 228);
}
.transactions-card {
    width: 1024px;
    margin: 0 auto;
    background-color: aquamarine;
}
