.mat-elevation-z8{
    width: 100%;
    margin: 0 auto;
    background-color: rgb(218, 230, 230);
}

mat-paginator  {
    color: black !important;
    max-width: 100%;
    background-color:rosybrown;
}

.forms{
    display: flex;
    justify-content: space-between;
    background : rgb(212, 225, 228);
}
.transactions-card {
    width: 1024px;
    margin: 0 auto;
    background-color: aquamarine;
}
.example-button-row{
    padding-top:0.5cm; 
}
.spinner{
    padding-top:0.5cm; 
}
.center {
    display: flex;
    justify-content: center;
  }